:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@supports (scrollbar-gutter: stable) {

body,html 
{
  width: 100%;
  scrollbar-gutter: stable;
  
}
}


a {
  color: black;
  text-decoration: none;
}
#__next{
  overflow-y:hidden;
  overflow-x: hidden;
}
object{
  display: none;
}

@keyframes vibrar{
  0%{
    margin-left: -10px;
  }
  15%{
    margin-right: 10px;
  }
  30%{
    margin-right: 10px;
  }
  45%{
    margin-right: -10px;
  }
  60%{
    margin-left: -10px;
  }
  75%{
    margin-right: 10px;
  }
  90%{
    margin-left: -10px;
  }
  100%{
    margin-right: 10px;
  }
}
@keyframes decrescer{
  0%{
    width: 0;
  }
  15%{
    width: 20px;
  }
  30%{
    width: 40px;
  }
  45%{
    width: 60px;
  }
  60%{
    width: 80px;
  }
  75%{
    width: 100px;
  }
  90%{
    width: 120px;
  }
  100%{
    width: 140px;
  }
}

 element.style{
  display: none;
  overflow: hidden;
  padding: 0;
}

.fieldset_upload{
  padding: 2%;
  margin-bottom: 5px;
}
.container{
  
  /* max-width: 1200px; */
  margin:20px auto;
  padding: 20px;
}
.product-details{
  display:flex;
  gap:40px;
}
.product-gallery{
  flex:1;
}
.product-gallery img{
  width:100%;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
}
.product-info{
  flex:1;
}
.thumbnail-container{
  display:flex;
  gap:10px;
  margin-top:15px;
}
.thumbnail-container img{
  width: 60px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.3s;
  
}
.thumbnail-container img:hover{
border: 1px solid #39ACE7;
}
.product-info h2{
  color: #555;
  font-size: 2.5em;
}
.product-price{
  color:#39ACE7;
  font-size: 2em;
  margin: 10px 0;
}
.product-description{
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}
#size{
  width: 100px;;
}
#quantity{
  width: 100px;
}
.product-options{
 
  margin: 20px 0;
}
.product-options label{
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.product-options select,
.product-options input{
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color:#f9f9f9;
}
.shipping-info{
  display: flex;
  gap: 20px;
}
.add-to-cart-button{
  background-color: #39ACE7;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;

}
.add-wishlist{
  background-color: #39ACE7;
  color: white;
  padding: 15px 25px;
  border: 2px solid #39ACE7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}


.userError{
  color: red;
  animation-name: vibrar;
  animation-duration: 0.1s;
  margin-top:-25px ;
  text-align: center;
}
.userNonExist{

  background-color: red;
  background-image: radial-gradient( rgb(255, 0,70), rgb(255,0,0));
  color: white;
  font-weight:bolder;
  animation-name: vibrar;
  animation-duration: 0.1s;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.userCreated{
  background-color: transparent;  
  /* color: #56BAED; */
  color: green;
  font-weight:bolder;
  animation-name: vibrar;
  animation-duration: 0.1s;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linha-decrescente{
  display: none;
  border-top:2px solid #212529;
  animation: 10s decrescer infinite linear;
  margin-left: 44.3%;
  width: 140px;
  
}
.voltar_login{
  margin: auto;
  color: #56BAED;
}
.box-greetins{
  border: rgba(0, 0, 0, 0.226) 1px solid;
  border-radius: 5px;
  box-shadow:  -3px -3px 10px rgba(0, 0, 0, 0.377);
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.username{
  font-weight: bolder;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -1px;
}
.info_user{
  display: block;
  margin-top: 15px;
}
.form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 500px;
  height: 500px;
  border: 1px solid rgb(94, 94, 94) ;

}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-control.search-input {
  position: relative;
  flex-basis: 100%;
  height: 35px;
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-button{
  position: absolute;
  right: 105px;
  margin-top: 4px;
  background-color: transparent;
  border: none;
  text-align: center;
  border-radius: 50px;
}
#form-slide{
  width:29vw;
}
#input-button{
  margin-left: -2vw;
}
#div-inputs{
  margin-left: -2vw;
}
aside#nav>a{
  text-align: center;
}
h1.titulo_painel_admin:nth-child(3){
  margin-left: 30px;
}
h1.titulo_painel_admin:nth-child(9){
  margin-left: 38px;
}
h1.titulo_painel_admin:nth-child(15){
  margin-left: 48px;
}
/* div#formContentAdmin{
margin-top: 5vh;
width: max-content;
padding: 10px;
margin-left: auto;
margin-right: auto;
} */
#input_slide_grande{
  width: 31vw;
  margin-bottom: 30px;
}
#upload_imagem{
  text-align: center;
  margin-bottom: 30px;
}
#input-button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.container_table{
  width: fit-content;
  height: fit-content;
}
.titlePages{
  display: table-column;
}
.titlePages:nth-child(5){
  width: fit-content;
  display: inline-block;
  position: absolute;
  left: 35.88vw;
  font-size: 1.3em;
  top:30vh;
}
.table{
  margin-left:auto;
  margin-right: auto;
  table-layout:fixed;
  width: 95vw;
  text-align: center;
  margin-bottom: 0;
  height: 8vh;
}
th,td{
  border: 1px solid;
}
.tableHead{
  table-layout: fixed;
  width: 95vw;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}
.col{
  text-align: center;
}
.Paginacao{

  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}
.buttonPage{
  background-color: transparent;  
  width: 4vw;
  margin-right: 0.5vw;
  margin-top: 5vh;
  border-radius: 0.5vw;
}
.buttonPage:hover{
  background-color: #56BAED;
}
#navegacao{
  display: block;
}
#navbar-crud{
text-align:left;

}
.offcanvas.offcanvas-end.text-bg-dark.crud{
  width: 15vw;
  
}
@media(max-width:500px){
  .offcanvas.offcanvas-end.text-bg-dark.crud{
    width: 50vw;
    
  }
}
.wrapper.fadeInDown.admin{
  width: 100vw;
  margin-left:auto;
  margin-right: auto;
}
label {
  font:
    1rem "Fira Sans",
    sans-serif;
}
legend{
  font-size: 1.1rem;
  color: #767676;
}
fieldset{
  background-color: #F6F6F6;
  width: 85%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.categoria{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 2cqmin;
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  
}
.spinner-border{
  margin-top: 25%;
}
#imagePerfil{
  border-radius: 50%;
}
#imageProfile{
  border-radius: 50%;
  cursor: pointer;

}
#check{
  display: none;
}
.checkbtn{
  margin-bottom: 0.5%;
}
#salvaFoto{
  background-color: transparent;
  border:none;
  color: #56BAED;
  font-weight: bolder;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}