/* 
.head{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #465A63;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    height: 14.8vh;
    
    }
    
    .head > p:nth-child(1){
        color:white;
        font-size: 1.5cqmax;
        margin-top: 0.2vmax;
        margin-left: 2%;
        text-transform: uppercase;
    }
    .head > p:nth-child(2){
        margin-top: -1%;
        margin-left: 2%;
        margin-bottom: 10%;
        color: white;
    }
    .conteudo{
    height:80vmax;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgba(0, 0, 0, 0.26);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .conteudo > img{
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 36vmax;
        object-fit: cover;
        margin-top: 0.2%;
    }
    .precinho{
       color:#4D5B5C;
       font-weight: bolder;
       font-size: 2.5cqmax;
       margin-top: -1vh;
    }
    .abaixo{
        width: 60vmax;
        margin-top:-22vmax;
        margin-left: auto;
        margin-right: auto;
        height: 30vmax; 
    }
    .nome{
    margin-top: 5cqmax;
    font-size: 2.5cqmax;
    color: black;
    font: bolder;

    }
    .abaixo p{
        font-size: 2.5cqmax;
        color: rgba(0, 0, 0, 0.541);
        opacity: 0.5;
        font-weight: bolder;
    }
    .direita{
    
        float: right;
        margin-right: 2vw;
        font-size: 2.5cqmax;
        margin-top: -6vmin;
        text-decoration: underline;
        color: black;
    }
    @media(max-width:768px){
        .nome{
            font-size: 1.1em;
            color: black;
            font: bolder;
        }
        .abaixo{
            margin-top: -40vh;
            
        }
        
        .conteudo{
           grid-template-columns:(2,1fr);
           height: 100vmax;
        
        }
        .conteudo > img:nth-child(2){
            margin-bottom: 1vh;
        }
        .abaixo{
            display:flex;
        }
        .conteudo > img{
            width: 60vmax;
            height: 50vmax;
            object-fit: cover;
            margin-top: 0.2%;
        }
    }

     @media(max-width:480px){
        .nome{
            font-size: 1.1em;
            color: black;
            font: bolder;
        }
        
        .direita{
            font-size: 1.1em;
        }
        .precinho{
            font-size: 1.2em;
        }
        .abaixo p{
            font-size: 0.8em;
            color: rgba(0, 0, 0, 0.541);
            opacity: 0.5;
            font-weight: bolder;
        }
        .conteudo{
            width: 99%;
            height: 300px;
        }
        .head{
            margin-top: 18%;
            width: 99%;
            height: 90px;
        }
    } */
    .head{
        margin-left: auto;
        margin-right: auto;
        background-color: #465A63;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 4vh;
        
        }
        .head > p:nth-child(1){
            color:white;
            font-size: 1.1rem;
            margin-top: 0.5vh;
            margin-left: 2%;
            text-transform: uppercase;
        }
        .head > p:nth-child(2){
            margin-top: 1vh;
            margin-left: 2%;
            margin-bottom: 10%;
            color: white;
        }
    
        .bloco_img{
            
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1px;
            
        }
        .img >img{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 90%;
            /* border:1px solid black;    */
           object-fit:fill;   
           margin-top: 0.2%;
        }
        .abaixo{
            padding-left: 5px;
        }
        .abaixo p{
            font-size: 3.5cqmin;
            color: rgba(0, 0, 0, 0.541);
            opacity: 0.5;
            font-weight: bolder;
        }
        .container{
            width:75vw;
            border: solid 1px rgba(0, 0, 0, 0.26);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 10cqmin;
        }
        .nome{
            margin-top: -2cqmax;
            font-size: 2cqmax;
            color: black;
            font: bolder;
        } 
        .direita{
            font-size: 2.5cqmax;
            float: right;
            margin-right: 5cqmin;
            margin-top: -6cqmax;
        }
        .precinho{
            font-size: 1.1rem;
            margin-top: -1.5vh;
        }
        @media(max-width:1080px) {
            .head{
                height: 25px;
            }
            .container{
                width:90vw;
            }
        }